./*.pdf
**/*.pdf
latex/graph/*.tex
latex/img/*.tex
latex/table/*.tex
latex/section/chapters.tex
latex/section/appendix.tex
latex/section/code.tex
info/publish
**/*.aux
**/*.fls
**/*.log
**/*.fdb_latexmk
**/*.toc
**/*.out
latex/preamble/macros/macros_general.tex
latex/preamble/macros/macros_lualatex.tex
latex/preamble/macros/macros_pdflatex.tex
latex/preamble/packages/packages_general.tex
latex/preamble/packages/packages_lualatex.tex
latex/preamble/packages/packages_pdflatex.tex
correction
